html {
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 75em;
    max-height: 50%;
    background-color: #DFDCE3;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 2;
    padding: 4em 4em;
}

h2 {
margin-top: 1em;
padding-top: 1em;
}

i {
    vertical-align: text-top;
}

h1,
h2,
strong {
    color: #333;
}

.tools {
    height: 100px;
}

.expander_prefix,
.expander_search {
    font-size: 24px;
}

.expander_search {
    float: left;
}

.expander_prefix {
    float: right;
}

.add_item {
    text-align: left;
    padding: 4px 4px;
    width: 195px;
    margin-bottom: 25px;
    font-size: 16px;
    color: #566b78;
}

.card {
    box-shadow: 0px 1px 5px #555;
    background-color: white;
    border-radius: 4px;
    display:grid;
    grid-template-areas:
        "head head head"
        "searchButton undoButton deleteButton";
}

.prefixed_text {
    grid-area: head;
}

button > * {
    pointer-events: none;
}

.expander_prefix,
.expander_search,
.deleteAll_button,
.reg,
.lucky,
.add_button {
    background-color: #4e86e0;
    border: none;
    color: whitesmoke;
    padding: 5px 15px;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.deleteButton,
.undoButton,
.searchButton {
    background-color: #465c8b;
    padding: 2px 0px;
    border-top: none;
    border-bottom: none;
    /* border: none; */
    border-color: whitesmoke;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out;
}

.deleteButton:hover {
    background-color: #7a2828;
}

.searchButton:hover,
.undoButton:hover {
    background-color: #555;
}

.searchButton {
    grid-area: searchButton;
    border: none;
    border-bottom-left-radius: 4px;
}

.undoButton {
    grid-area: undoButton;
}

.deleteButton {
    grid-area: deleteButton;
    border: none;
    border-bottom-right-radius: 4px;
}

/* .card-container {
    margin: -31px;
} */

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    grid-gap: 1rem;
  }

ul.list {
    vertical-align: middle;
    text-align: center;
    line-height: 36px;
}

.slider_search {
    margin: auto;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
  }

.slider_prefix {
    margin: auto;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
  }

.slided_search,
.slided_prefix {
    height: 90px;
  }

footer {
    background-color: #DFDCE3;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    max-width: 75em;
    margin: 0 auto;
    padding-top: 15px;
}
