html {
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 75em;
    max-height: 50%;
    background-color: #DFDCE3;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 2;
}

h1,
h3 {
    color: #333;
}

.company {
    line-height: .5;
    margin: 60px 0px 30px 0px;
}

.expander_prefix,
.expander_search {
    font-size: 24px;
}

.add_item {
    text-align: left;
    padding: 4px 4px;
    width: 195px;
    margin-bottom: 25px;
    font-size: 16px;
    color: #566b78;
}

.card {
    box-shadow: 0px 1px 5px #555;
    background-color: white;
    border-radius: 4px;
    display:grid;
    grid-template-areas:
        "head head head"
        "searchButton undoButton deleteButton";
}

.prefixed_text {
    grid-area: head;
}

button > * {
    pointer-events: none;
}

.expander_prefix,
.expander_search,
.deleteAll_button,
.reg,
.news,
.lucky,
.add_button {
    background-color: #465c8b;
    border: none;
    color: whitesmoke;
    padding: 5px 15px;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.deleteButton,
.undoButton,
.searchButton {
    background-color: #465c8b;
    padding: 2px 0px;
    border-top: none;
    border-bottom: none;
    border-color: whitesmoke;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out;
    cursor: pointer; 
}

.deleteButton:hover {
    background-color: #7a2828;
}

.searchButton:hover {
    background-color: #1f6830;
}
.undoButton:hover {
    background-color: #555;
}

.searchButton {
    grid-area: searchButton;
    border: none;
    border-bottom-left-radius: 4px;
}

.undoButton {
    grid-area: undoButton;
}

.deleteButton {
    grid-area: deleteButton;
    border: none;
    border-bottom-right-radius: 4px;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    grid-gap: 1rem;
  }

ul.list {
    vertical-align: middle;
    text-align: center;
    line-height: 36px;
}

.slider_search {
    margin: auto;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
  }

.slider_prefix {
    margin: auto;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
  }

.slided_search,
.slided_prefix {
    height: 55px;
  }

footer {
    background-color: #DFDCE3;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    max-width: 75em;
    margin: 0 auto;
    padding-top: 15px;
}
